[flake8]
show-source = True
max-line-length = 88
extend-exclude =
    venv
    .venv
    build
    autosklearn/automl_common
extend-ignore =
    # No whitespace before ':' in [x : y]
    E203
    # No lambdas — too strict
    E731
