# Documentation
docs/build/*

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer trash
pip-log.txt
autosklearn/data/competition_c_functions.c

# Unit test / coverage reports
htmlcov
.coverage
.tox
nosetests.xml
autosklearn.log

# pycharm
.idea

# Others
*~
*.dat
*.pstats
*.stats
*.npy
*.zip
download
*.predict
*.pkl
num_run
number_submission
