language: python

sudo: false

dist: xenial

env:
  global:
  - OPENBLAS_NUM_THREADS=1
  - OMP_NUM_THREADS=1
  - MKL_NUM_THREADS=1
  # Directory where tests are run from
  - TEST_DIR=/tmp/test_dir/
  - MODULE=autosklearn
  - MINICONDA_URL="https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh"

matrix:
  allow_failures:
  - os: osx
  
  include:
  - os: linux
    python: 3.5
    env: DISTRIB="conda" COVERAGE="true"
  - os: linux
    python: 3.6
    env: DISTRIB="conda" DOCPUSH="true"
  - os: linux
    python: 3.6
    env: DISTRIB="conda" EXAMPLES="true"
  - os: linux
    python: 3.7
    env: DISTRIB="conda" COVERAGE="true"
  - os: linux
    python: 3.6
    env: DISTRIB="conda" RUN_FLAKE8="true" SKIP_TESTS="true"
  - os: linux
    python: 3.5
    env: DISTRIB="ubuntu" COVERAGE="true"
  - os: linux
    python: 3.6
    env: DISTRIB="ubuntu" DOCPUSH="true"
  - os: linux
    python: 3.7
    env: DISTRIB="ubuntu" EXAMPLES="true"


  # Temporarily disabling OSX builds because thy take too long
  # Set language to generic to not break travis-ci
  # https://github.com/travis-ci/travis-ci/issues/2312#issuecomment-195620855
  # so far, this issue is still open and there is no good solution
  # python will then be installed by anaconda
  #- os: osx
  #  sudo: required
  #  language: generic
  #  env: DISTRIB="conda" PYTHON_VERSION="3.5" MINICONDA_URL="https://repo.continuum.io/miniconda/Miniconda3-latest-MacOSX-x86_64.sh"

cache:
  # We use three different cache directory
  # to work around a Travis bug with multi-platform cache
  directories:
  - $HOME/.cache/pip
  - $HOME/download
  pip: true

git:
  depth: 5

before_install: bash  ci_scripts/install.sh

install:
  - pip --version
  # Install general requirements the way setup.py suggests
  - pip install nose pep8 codecov coverage flake8
  - pip install -r requirements.txt
  # Install openml dependency for metadata generation unittest
  - pip install xmltodict requests liac-arff
  - pip install git+https://github.com/openml/openml-python@0b9009b0436fda77d9f7c701bd116aff4158d5e1 --no-deps
  - mkdir ~/.openml
  - echo "apikey = 610344db6388d9ba34f6db45a3cf71de" > ~/.openml/config
  # Debug output to know all exact package versions!
  - pip freeze
  - python setup.py check -m -s
  - python setup.py build_ext --inplace

script: bash ci_scripts/test.sh
after_success: source ci_scripts/success.sh && source ci_scripts/create_doc.sh $TRAVIS_BRANCH "doc_result"

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN # set in the settings page of my repository
  keep-hisotry: true
  commiter-from-gh: true
  on:
    all_branches: true
    condition: $doc_result = "success"
  local_dir: doc/$TRAVIS_BRANCH
