include LICENSE.txt
include requirements.txt
include autosklearn/util/logging.yaml
include autosklearn/requirements.txt
include autosklearn/py.typed

# Meta-data
recursive-include autosklearn/metalearning/files *.arff *.csv *.txt
recursive-include autosklearn/experimental *.json

# Remove tests from automl_common
prune autosklearn/automl_common/test
exclude autosklearn/automl_common/setup.py

# Include automl_common LICENSE and README
include autosklearn/automl_common/LICENSE
include autosklearn/automl_common/README.md

