setuptools
nose

six
Cython

numpy>=1.9.0
scipy>=0.14.1

scikit-learn>=0.18.1,<0.19

lockfile
joblib
psutil
pyyaml
liac-arff
pandas

ConfigSpace>=0.3.3,<0.4
pynisher>=0.4
pyrfr>=0.6.0,<0.7
smac==0.6.0
