mock
nose

cython
lockfile
numpy
psutil
pyyaml
scipy
scikit-learn==0.15.2
cma
six
# pip install git+https://github.com/mfeurer/HPOlibConfigSpace#egg=HPOlibConfigSpace0.1dev
# pip install git+https://git@bitbucket.org/mfeurer/paramsklearn.git@73d8643b2849db753ddc7b8909d01e6cee9bafc6 --no-deps
# pip install git+https://github.com/automl/HPOlib@development
# pip install --editable git+https://bitbucket.org/mfeurer/pymetalearn/#egg=pyMetaLearn
