unittest2
setuptools
mock
nose

numpy>=1.9.0
scipy>=0.14.1

scikit-learn==0.17.1

lockfile
joblib
psutil
pyyaml
six
ConfigArgParse
liac-arff
pandas
Cython
xgboost==0.4a30

ConfigSpace
pynisher>=0.4
pyrfr
smac==0.0.1
