name: 'Close stale issues'

on:
  schedule:
    - cron: '0 7 * * *'

jobs:

  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v6
        with:
          days-before-stale: 60
          days-before-close: 7
          stale-issue-label: 'stale'
          only-issue-labels: 'Answered,Feedback-Required,invalid,wontfix'
          exempt-all-milestones: true

          stale-issue-message: >
            This issue has been automatically marked as stale because it has not had
            recent activity. It will be closed if no further activity occurs for the
            next 7 days. Thank you for your contributions.

          close-issue-message: >
            This issue has been automatically closed due to inactivity.
